/bin/git*
/bin/cpio
*id_rsa*
libexec/git-core
/share/git-gui
/share/gitk
/share/git-core
/lib/Error.pm
/lib/Git.pm
/share/gitweb/
home/
bin/
cmd/
doc/
/etc/.gitattributes
git-cmd.bat
git/
include/
lib/
libexec/
mingw/
share/
src/
ssl/
wine-start.sh
.gitmodules
